/* Aquí definimos las Custom properties */
:root{
    --negro         : #181818;
    --blanco        : #fff;
    --c-gris-mobile : #f5f5f5;
    --c-gris-400    : #e5e5e5;
    --c-gris-500    : #505050;
    --c-rojo-400    : #c92022;
    --c-rojo-500    : #950b0c;

    /* Tipografía */
    --ff-main  : 'Roboto', Arial, Helvetica, sans-serif;
}